.sidebar {
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid var(--border);
}

.sidebutton {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  gap: 15px;
}

.sidebutton:hover {
  background-color: var(--bg-secondary);
  cursor: pointer;
}
